%center
  %p
    %span{:class=>'huge-font-size'}='Log into '
    %span{:class=>'huge-font-size site-title-font a-little-letter-spacing color-blue-gray'}='rpglogger'
    %span{:class=>'huge-font-size'}='with any of these services by clicking on the logo'
  %span=link_to (image_tag '/login_with_facebook.png'), '/auth/facebook'
