%center
  %p
    %span{:class=>'huge-font-size'}='You sign in to '
    %span{:class=>'huge-font-size site-title-font a-little-letter-spacing color-blue-gray'}='rpglogger'
    %span{:class=>'huge-font-size'}='with these services'
  %span=link_to (image_tag '/login_with_facebook.png'), '/auth/facebook'
