%center
  %p
    %span{:class=>'huge-font-size'}='Login with:'
  %span=link_to (image_tag 'login_buttons/google_oauth2_64.png'),  '/auth/google_oauth2'
  %span=link_to (image_tag 'login_buttons/facebook_64.png'),        '/auth/facebook'
  %span=link_to (image_tag 'login_buttons/twitter_64.png'),         '/auth/twitter'