/* colors */

$background-image: '/site-background-image.jpg'

$main-gray: #c0c0c0
$main-white: #fff
$main-blue-gray: #007c84
$main-dark-gray: #272727
$main-dark-red: #640502
$page-orange: #bb4f1b

/* fonts */

$site-and-page-title: "Lucida Blackletter", Garamond, "Times New Roman", Times, serif
$serif: Garamond, "Times New Roman", Times, serif
$sans: Arial, Helvetica, sans-serif

/* font sizes */

$typical-text-size: 12px
$h2-size: 15px
$h1-size: 20px
$big-titles-size: 24px

.right
  text-align: right
.left
  text-align: left
.center
  text-align: center
.uppercase
  text-transform: uppercase
.lowercase
  text-transform: lowercase
.min-width
  width: 1%
.max-width
  width: 100%
.italic
  font-style: italic
.oblique
  font-style: oblique

.border-right
  border-right: 1px solid

.column-integer
  text-align: right
  width: 1%
.column-string
  text-align: left
.column-text
  text-align: left
  
.cell-back-coloring
  td, th
    background-color: $main-dark-gray