@import 'globals'

#log-book-index
  a
    color: $main-gray
    font:
      family: $sans
      size: $typical-text-size
    text-decoration: none
    &:hover
      color: $main-blue-gray

#details-div
  table
    width: 95%
  td
    vertical-align: top

#log_book_nav
  a
    color: $main-gray
    font:
      family: $serif
      size: $typical-text-size
    text-transform: uppercase
    text-decoration: none
    &:hover
      color: $main-blue-gray
      
#section-filter
  table
    width: 30%

#section-meta
  font:
    family: $sans
    size: $typical-text-size

#section-detail
