@import 'globals'

#log-book-index
  a
    color: $main-gray
    font:
      family: $sans
      size: $typical-text-size
    text-decoration: none
    &:hover
      color: $main-blue-gray


#details-div
  table
    width: 95%
  td
    vertical-align: top

#log_book_nav
  a
    color: $main-gray
    line-height: 30px
    font:
      size: $typical-text-size
    text-transform: uppercase
    text-decoration: none
    &:hover
      color: $main-blue-gray
      text-decoration: overline

#section-title
  h1
    color: $main-blue-gray
    font:
      size: $big-titles-size
      weight: bold
    letter-spacing: 1px

#section-filter
  table
    width: 30%

#section-meta
  font:
    family: $sans
    size: $typical-text-size

#section-detail
  table
    width: 90%
  th
    border-bottom: $main-gray solid thin
    font:
      family: $serif
      size: $typical-text-size
    text-transform: uppercase
  .detail-integer
    text-align: right
  .detail-string
    text-align: left
  .detail-text
    text-align: left
    
  td
    font:
      family: $sans
      size: $typical-text-size
    .detail-integer
      text-align: right
    .detail-string
      text-align: left
    .detail-text
      text-align: left