@import 'globals'

.site-title
  text-transform: lowercase
  text-align: left
  border-bottom: none

.page-title
  color: $main-blue-gray
  font:
    size: $big-titles-size
    weight: bold
  letter-spacing: 1px

.compact
  table
    width: 100%
  th
    vertical-align: bottom
    border-bottom: $main-gray solid thin
    font:
      family: $serif
      size: $typical-text-size
    text-transform: uppercase
    .detail-integer
      text-align: right
    .detail-string
      text-align: left
    .detail-text
      text-align: left
  td
    vertical-align: top
    border-right: $background-color solid 10px
    font:
      family: $sans
      size: $typical-text-size
    .detail-integer
      text-align: right
    .detail-string
      text-align: left
    .detail-text
      text-align: left

.detail
  @extend .compact
  table
    width: 55%
  th
    padding: 5px
    padding-right: 8px
    border-bottom: none
    vertical-align: top
    text-align: right
  td
    width: 1%

a
  color: $main-gray
  text-decoration: none
  &:hover
    color: $main-blue-gray

hr
  color: $main-gray
  background-color: $main-gray
  height: 1px
  width: 100%
body
  background-color: $background-color
  width: 920px
  margin:
    left: auto
    right: auto
  color: $main-gray
  font:
    family: $serif
    size: 15px
h1
  font:
    size: 16px
    
