@import 'globals'

#site_nav
  line-height: 10px
  h1
    color: $main-gray
    font:
      family: "Lucida Blackletter", Garamond, "Times New Roman", Times, serif
      size: $big-titles-size
    letter-spacing: 1px
  h2
    font:
      size: $typical-text-size
      weight: 400
    text-transform: uppercase
  table
    width: 100%
