%table{:class=>'max-width'}
  %tr
    %td
      ="Today's RPGs allow unprecedented freedom. Your strategy guide should do the same.".html_safe
      %br
      %br
      <div class="fb-like" data-href="http://rpglogger.com" data-send="true" data-layout="button_count" data-show-faces="true" data-action="recommend" data-font="verdana"></div>