%span.color-orange=truncate(log_book.title, length: 22)
-if current_user && current_user.can_fully_manage?(log_book)
  | 
  %span=link_to 'edit', edit_log_book_path(log_book)
%table.max-width
  %tr
    %td
      %ul.list-no-markers
        -log_book.sections.each do |s|
          %li=link_to '>&nbsp;'.html_safe+s.name, section_path(s)