%h2=truncate(log_book.title, length: 22)
%br
%ul{:class => "nav nav-list"}
  -if current_user && current_user.can_fully_manage?(log_book)
    %li.nav-header
      Manage
    %li
      =link_to 'Edit', edit_log_book_path(log_book)
  %li.nav-header
    Sections
  -log_book.sections.active.each do |s|
    %li=link_to s.name, section_path(s)
