#section-detail{:class => 'compact-table'}
  %table
    %tr
      %th{:class=>'min-width'}=link_to '+', new_section_world_object_path(@section.id)
      %th{:class=>'column-string'}='Name/Title'
      -@section.sorted_section_properties.each do |sp|
        %th{:class=>'column-' + sp.data_type}=sp.name
    -@section.world_objects.each do |obj|
      %tr
        %td=link_to 'X', section_world_object_path(@section, obj), :method => :delete
        %td=link_to obj.name, edit_section_world_object_path(@section, obj)
        -obj.sorted_world_object_properties.each do |prop|
          %td{:class=>'column-' + prop.section_property.data_type}=prop.raw_value
