.row-fluid
  .span7
    %h1=@section.name
  .span5
    .btn-toolbar.pull-right
      .btn-group
        -if current_user && current_user.can_fully_manage?(@section.log_book)
          =link_to " Edit columns".html_safe, edit_section_path(@section), :class => "btn btn-neutral btn-mini icon-pencil"
      .btn-group
        -if current_user && current_user.can_manage_world_objects_in?(@section.log_book)
          -if @show_archived_objects
            =link_to " Hide archived".html_safe, section_path(@section.id), :class => "btn btn-danger btn-mini icon-eye-close"
          -else
            =link_to " Show archived".html_safe, section_path(@section.id, show_archived: true), :class => "btn btn-success btn-mini icon-eye-open"
