#section-detail{:class => 'compact-table'}
  %table
    %tr
      -if current_user && current_user.can_manage_world_objects_in?(section.log_book)
        %th{:class=>'min-width'}=link_to "\u271a", new_section_world_object_path(section.id)
      %th{:class=>'column-string'}='Name/Title'
      -section.section_properties.each do |sp|
        %th{:class=>'column-' + sp.data_type}=sp.name
    -list_of_world_objects.each do |obj|
      %tr
        -if current_user && current_user.can_manage_world_objects_in?(section.log_book)
          -if obj.deleted_at.nil?
            %td=link_to "\u2716", section_world_object_path(section.id, obj.id), :method => :delete
          -else
            %td=link_to "\u27f2", untrash_section_world_object_path(section.id, obj.id), :method => :put
        
        %td=link_to markdown_parse(obj.name), edit_section_world_object_path(section.id, obj.id)  
        -obj.world_object_properties.each do |prop|
          %td{:class=>'column-' + prop.section_property.data_type}=markdown_parse(prop.raw_value)
