%span{:class=>'big-font-size color-orange'}=@section.name
%br
-if current_user && current_user.can_fully_manage?(@section.log_book)
  %span{:class=>'serif-sc-font small-font-size'}=link_to '&nbsp;&nbsp;&nbsp;'.html_safe + 'edit columns', edit_section_path(@section)
%br
%br