%table.table.table-condensed
  %thead
    %th='Name/Title'
    -section.section_properties.active.each do |sp|
      %th{class: 'column-' + sp.data_type}=sp.name
    %th=link_to("✚", new_section_world_object_path(section.id)) if @can_manage_world_objects
    
  -visible_world_objects.each do |obj|
    %tr{class: '' + (obj.archived? ? 'archived' : '')}
      %td=world_object_title_or_link(obj, @can_manage_world_objects)
      -obj.world_object_properties.each do |prop|
        -case prop.section_property.data_type
          -when 'image'
            %td{class: 'column-' + prop.section_property.data_type}=image_tag prop.image_value_url.to_s
          -default
            %td{class: 'column-' + prop.section_property.data_type}=markdown_parse(prop.raw_value)
      %td=archive_or_restore_world_object(obj, @can_manage_world_objects)
