%span{:class=>'big-font-size color-orange'}=@section.name
%br
%span{:class=>'serif-sc-font small-font-size'}=link_to '&nbsp;&nbsp;&nbsp;'.html_safe + 'edit columns', edit_section_path(@section)
%br
%br