#section-detail
  %table{:cellspacing=>5}
    %tr
      -@section.section_properties.each do |sp|
        %th{:class=>'detail-' + sp.data_type}=sp.name
    -@section.world_objects.each do |obj|
      %tr
        -obj.object_properties.each do |prop|
          %td{:class=>'detail-' + prop.section_property.data_type}=prop.raw_value
    