#alert_space{:class => "row-fluid"}
  .span12
    -if flash[:notice]
      %div{:class => "alert alert-success"}
        %button{:class => "close", :data => {:dismiss => "alert"}}
          x
        =flash[:notice]
    -if flash[:error] 
      %div{:class => "alert alert-error"}
        %button{:class => "close", :data => {:dismiss => "alert"}}
          x
        =flash[:error]
    -if @log_book && @log_book.errors.any?
      %div{:class => "alert alert-block alert-error"}
        %button{:class => "close", :data => {:dismiss => "alert"}}
          x
        %h4.alert-heading
          Whoa, we got some issues here:
        %ul
          -@log_book.errors.full_messages.each do |msg|
            %li=msg
    -if @world_object && @world_object.errors.any?
      .alert.alert-block.alert-error
        %button{:class => "close", :data => {:dismiss => "alert"}}
          x
        %h4.alert-heading
          Whoa, we got some issues here:
        %ul
          -@world_object.errors.full_messages.each do |msg|
            %li=msg
