#site_nav
  %table
    %tr
      %td
        %h1="rpglogger"
      %td
        %table
          %tr
            %td{:align=>"right"}
              %h2="log books"
            %td{:align=>"right"}
              %h2="logout"
  %hr