%div{:class=>'navbar navbar-fixed-top'}
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{:href => ".nav-collapse", :data => {:toggle => "collapse"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'rpglogger'.html_safe, root_path, :class => 'brand'
      %p{:class => 'navbar-text pull-left'}
        Create strategy guides for any RPG. Share them with the world.
      .nav-collapse
        %ul{:class => "nav pull-right"}
          -if current_user
            %li.dropdown{:id => "user-menu"}
              %a.dropdown-toggle{:href => "#user-menu", :data => {:toggle => "dropdown"}}
                <i class="icon-user">&nbsp;</i>
                =username_for_top_section(current_user)
                &nbsp;<i class="caret"></i>
              %ul.dropdown-menu
                %li=current_user.nickname.nil? ? (link_to 'Logout', signout_path) : (link_to 'Logout', signout_path)
          -else
            %li=link_to 'Login', '/sessions/new'
