=render :partial => 'partials/section_nav', :locals=>{:log_book => @world_object.section.log_book}
%br
.section-title
  =@world_object.section.name.singularize.titleize

=form_for @world_object do |obj_form|
  =obj_form.hidden_field :section_id
  .detail
    .right
      %table
        %tr
          %th{:class=>'min-width'}
            =obj_form.label :name
          %td
            =obj_form.text_field :name
        =obj_form.fields_for :world_object_properties do |world_object_property_fields|
          %tr
            %th=world_object_property_fields.label world_object_property_fields.object.section_property.name.to_sym
            %td
              =world_object_property_fields.object.correct_form_field(world_object_property_fields)
              =world_object_property_fields.hidden_field :section_property_id
        %tr
          %td
          %td{:class=>'right'}
            =obj_form.submit 'Save', :class => 'styled-button-dark-red'