.row-fluid
  .span12
    %h1=link_to "in #{@world_object.section.name}", section_path(@world_object.section)
.row-fluid
  .span12
    =form_for [:section, @world_object], html: {multipart: true} do |obj_form|
      =obj_form.hidden_field :section_id
      =obj_form.label :name
      =obj_form.text_field :name
      =obj_form.fields_for :world_object_properties do |properties_form|
        -unless properties_form.object.section_property.archived?
          -if properties_form.object.section_property.data_type == 'boolean'
            %label
              =properties_form.object.section_property.name.to_sym
              =auto_field_for(properties_form, properties_form.object)
          -else
            =properties_form.label properties_form.object.section_property.name.to_sym
            =auto_field_for(properties_form, properties_form.object)
          =properties_form.hidden_field :section_property_id
      %fieldset
        =obj_form.submit 'Save', :class => 'btn btn-primary'
