=render :partial => 'partials/log_book_nav', :locals=>{:log_book => @section.log_book}

.page-title
  %span=link_to "#{@section.name.singularize} ", log_book_path(@section.log_book) + "?section=#{@section.name}"
  %span='attributes'
.detail
  .right
    %table
      %tr
        %td
          =form_for @section do |section_form|
            %table
              %tr
                %th='section title'
                %td
              %tr
                %td=section_form.text_field :name
                %td
              %tr
                %th='section attributes'
                %td
              =section_form.fields_for :section_properties do |section_properties_form|
                %tr
                  %td=section_properties_form.text_field :name
                  %th=link_to 'delete!', section_property_path(section_form.object), {:method => :delete}
              %tr
                %td=section_form.submit 'Save', :class => 'styled-button-dark-red'
        %td
          =form_for :new_properties, :url=>{:controller=>:section_properties} do |new_section_properties_form|
            =hidden_field_tag :section_id, @section.id.to_s
            %table
              %tr
                %th='new attributes (comma-separated)'
              %tr
                %td=new_section_properties_form.text_field :names
              %tr
                %th='attribute type'
              %tr
                %td=collection_select new_section_properties_form.object, :data_type, SectionProperty.all_data_types, :to_s, :to_s
              %tr
                %td=new_section_properties_form.submit ">>", :class => 'styled-button-dark-red'
      