.section-title
  %span{:class=>'serif-sc-font big-font-size'}=link_to "#{@section.name} ", section_path(@section)
  %span{:class=>'serif-sc-font big-font-size'}='attributes'
#attributes_form{:class=>'serif-sc-font compact-form right'}
  %table
    %tr
      %td
        =form_for @section do |section_form|
          %table
            %tr
              %td
              %th='Section Title'
              %td
            %tr
              %td
              %td=section_form.text_field :name
              %td
            %tr
              %td
              %th='Section Attributes'
              %td
            =section_form.fields_for :section_properties do |section_properties_form|
              %tr
                %td=section_properties_form.object.data_type
                %td=section_properties_form.text_field :name
                %th=link_to 'Delete', section_section_property_path(@section, section_properties_form.object), {method: :delete, class: 'styled-button-dark-red'}
          =fields_for :section_properties do |new_section_properties_form|
            %td        
              %table
                %tr
                  %th='New Attributes (comma-separated)'
                %tr
                  %td=new_section_properties_form.text_field :new_section_property_names
                %tr
                  %th='Attribute Type'
                %tr
                  %td=collection_select new_section_properties_form.object, :data_type, SectionProperty.all_data_types, :to_s, :to_s
                %tr
                  %td
                    %br
                    %br
                    =section_form.submit "Update attributes", :class => 'styled-button-blue-gray'
    