=render :partial => 'partials/section_title'
=render :partial => 'partials/section_detail', locals: {section: @section, visible_world_objects: @visible_world_objects, can_manage_world_objects: @can_manage_world_objects}
