=render :partial => 'partials/section_title'
=render :partial => 'partials/section_detail', locals: {section: @section, list_of_world_objects: @list_of_world_objects, can_manage_world_objects: @can_manage_world_objects}
