.row_fluid
  .span6
    =form_for @log_book, :html => {:class => "form-horizontal"} do |log_book_form|
      %fieldset
        %label
          Log Book Title
        =log_book_form.text_field :title, :html => {:class => "span3"}
      %fieldset
        %h3
          Sections
        -list_of_sections.each do |section|
          =log_book_form.fields_for :sections, section do |section_form|
            =section_form.text_field :name, :html => {:class => "span3"}
            -if section.deleted?
              =link_to 'Restore'.html_safe, restore_section_path(section.id), :method => :put, :class => 'btn btn-success'
            -else
              =link_to 'Archive'.html_safe, archive_section_path(section.id), :method => :put, :class => 'btn btn-danger'
            %p.help-block
              %br
      =log_book_form.submit 'Save sections', :class => 'btn btn-primary'
  .span6
    %h3
      New Sections
      %label='(comma-separated)'
    =form_for @log_book, :html => {:class => "form-horizontal"} do |log_book_form|
      =fields_for :sections do |new_sections_form|
        =new_sections_form.text_field :new_names, :html => {:class => "span3"}
      =log_book_form.submit "Add sections", :class => 'btn btn-primary'
