-if current_user
  .section-title
    %table
      %tr
        %td.serif-sc-font.big-font-size.color-orange='Your log books'
        -if current_user
          -if @show_archived_items
            %td=link_to "Hide archived", log_books_path, {class: "styled-button-blue-gray"}
          -else
            %td=link_to "Show archived", log_books_path(show_archived: true), {class: "styled-button-blue-gray"}
    %br
  .compact-table
    %table
      %tr
        %th.min-width=link_to "\u271a", new_log_book_path
        %th.column-string='Title'
        %th.column-string='Game'
        %th.column-integer='No.&nbsp;of&nbsp;Items'.html_safe
      -private_log_books.each do |log_book|
        %tr{class: '' + (log_book.archived? ? 'archived' : '')}
          -if current_user.can_fully_manage?(log_book)
            -if log_book.archived?
              %td=link_to "⟲", restore_log_book_path(log_book.id), method: :put
            -else
              %td=link_to "✖", archive_log_book_path(log_book.id), method: :put
          -elsif current_user.can_manage_world_objects_in?(log_book)
            %td="⥮"
          -if log_book.archived?
            %td.column-string=log_book.title.html_safe
          -else
            %td.column-string=link_to log_book.title.html_safe, log_book
          %td.column-string=log_book.game_name.html_safe
          %td.column-integer=log_book.world_objects.count
