-if current_user
  .row-fluid
    .span7
      %h1='Your Log Books'
    .span5
      -if show_deleted_items
        =link_to "Hide deleted", log_books_path, {class: "btn btn-warning btn-mini pull-right"}
      -else
        =link_to "Show deleted", log_books_path(show_deleted: true), {class: "btn btn-danger btn-mini pull-right"}
  .row-fluid
    .span12
      %table.table.table-condensed
        %thead
          %tr
            %th='Title'
            %th='Game'
            %th='No.&nbsp;of&nbsp;Items'.html_safe
            %th=new_log_book_link
        -private_log_books.each do |log_book|
          %tr{class: '' + (log_book.deleted? ? 'deleted' : '')}
            %td=log_book.deleted? ? log_book.title.html_safe : link_to(log_book.title.html_safe, log_book)
            %td=log_book.game_name.html_safe
            %td=log_book.world_objects.count
            %td=log_book_access_indicator_icon(log_book)
