%h1
  Public Log Books
%br
.row-fluid
  .span12
    %table.table.table-condensed
      %thead
        %th='Title'
        %th='Game'
        %th='No.&nbsp;of&nbsp;Items'.html_safe
        %th
          %a{:href => new_log_book_path}
            <i class="icon-plus"></i>
      -public_log_books.each do |log_book|
        %tr
          %td=link_to log_book.title.html_safe, log_book
          %td=log_book.game_name.html_safe
          %td=log_book.world_objects.count
          %td
            -if current_user
              -if current_user.can_fully_manage?(log_book)
                =link_to "\u2716", log_book_path(log_book), :method => :delete
              -elsif current_user.can_manage_world_objects_in?(log_book)
                ="\u296e"
              -else
                ="".html_safe 
            -else
              ="".html_safe 
