.section-title
  %span{:class=>'serif-sc-font big-font-size'}
    ="in "
    =link_to @log_book.title, @log_book
#sections_form{:class=>'serif-sc-font compact-form right'}
  %table
    %tr
      %td
        =form_for @log_book do |log_book_form|
          %table
            %tr
              %th='Log Book Title'
              %td
            %tr
              %td=log_book_form.text_field :title
              %td
            %tr
              %th='Sections'
              %td
            =log_book_form.fields_for :sections do |section_form|
              %tr
                %td=section_form.text_field :name
                %th=link_to 'Delete', section_path(section_form.object), {method: :delete, class: 'styled-button-dark-red'}
            %tr
              %td=log_book_form.submit 'Save', :class => 'styled-button-dark-red'
      %td
        =form_for @log_book do |log_book_form|
          =fields_for :sections do |new_sections_form|
            %table
              %tr
                %th='New Sections (comma-separated)'
              %tr
                %td=new_sections_form.text_field :new_names
              %tr
                %td=log_book_form.submit "Add sections", :class => 'styled-button-dark-red'
              