#log-book-index
  -if current_user
    .section-title
      %span{:class=>'serif-sc-font big-font-size color-orange'}='Your log books'
      %br
      %br
    .compact-table
      %table
        %tr
          %th{:class=>'min-width'}=link_to "\u271a", new_log_book_path
          %th{:class=>'column-string'}='Title'
          %th{:class=>'column-string'}='Game'
          %th{:class=>'column-integer'}='No.&nbsp;of&nbsp;Items'.html_safe
        - @log_books.each do |log_book|
          %tr
            %td=link_to "\u2716", log_book_path(log_book), :method => :delete
            %td{:class=>'column-string'}=link_to log_book.title.html_safe, log_book
            %td{:class=>'column-string'}=log_book.game_name.html_safe
            %td{:class=>'column-integer'}=log_book.world_objects.count
  %br
  .section-title
    %span{:class=>'serif-sc-font big-font-size color-orange'}='Public log books'
    %br
    %br
  .compact-table
    %table
      %tr
        %th{:class=>'min-width'}=link_to "\u271a", new_log_book_path
        %th{:class=>'column-string'}='Title'
        %th{:class=>'column-string'}='Game'
        %th{:class=>'column-integer'}='No.&nbsp;of&nbsp;Items'.html_safe
      - @public_log_books.each do |log_book|
        %tr
          %td
          %td{:class=>'column-string'}=link_to log_book.title.html_safe, log_book
          %td{:class=>'column-string'}=log_book.game_name.html_safe
          %td{:class=>'column-integer'}=log_book.world_objects.count