#log-book-index
  =render partial: "private_log_books", locals: {private_log_books: @private_log_books, show_archived_items: @show_archived_items}
  =render partial: "public_log_books", locals: {public_log_books: @public_log_books}