#log-book-index
  -if current_user
    .section-title
      %table{width: "100%"}
        %tr
          %td.serif-sc-font.big-font-size.color-orange='Your log books'
          -if current_user
            -if @deleted_items_being_shown
              %td.right=link_to "Hide deleted", log_books_path, {class: "styled-button-blue-gray"}
            -else
              %td.right=link_to "Show deleted", log_books_path(show_deleted: true), {class: "styled-button-blue-gray"}
      %br
    .compact-table
      %table
        %tr
          %th{:class=>'min-width'}=link_to "\u271a", new_log_book_path
          %th{:class=>'column-string'}='Title'
          %th{:class=>'column-string'}='Game'
          %th{:class=>'column-integer'}='No.&nbsp;of&nbsp;Items'.html_safe
        -@owned_and_shared_log_books.each do |log_book|
          %tr
            -if current_user.can_fully_manage?(log_book)
              -if log_book.deleted_at.nil?
                %td=link_to "\u2716", log_book_path(log_book.id), :method => :delete
              -else
                %td=link_to "\u27f2", untrash_log_book_path(log_book.id), :method => :put
            -elsif current_user.can_manage_world_objects_in?(log_book)
              %td="\u296e"
            %td{:class=>'column-string'}=link_to log_book.title.html_safe, log_book
            %td{:class=>'column-string'}=log_book.game_name.html_safe
            %td{:class=>'column-integer'}=log_book.world_objects.count
    %br
  .section-title
    %span{:class=>'serif-sc-font big-font-size color-orange'}='Public log books'
    %br
    %br
  .compact-table
    %table
      %tr
        %th{:class=>'min-width'}=link_to "\u271a", new_log_book_path
        %th{:class=>'column-string'}='Title'
        %th{:class=>'column-string'}='Game'
        %th{:class=>'column-integer'}='No.&nbsp;of&nbsp;Items'.html_safe
      - @public_log_books.each do |log_book|
        %tr
          -if current_user
            -if current_user.can_fully_manage?(log_book)
              %td=link_to "\u2716", log_book_path(log_book), :method => :delete
            -elsif current_user.can_manage_world_objects_in?(log_book)
              %td="\u296e"
            -else
              %td
          -else
            %td
          %td{:class=>'column-string'}=link_to log_book.title.html_safe, log_book
          %td{:class=>'column-string'}=log_book.game_name.html_safe
          %td{:class=>'column-integer'}=log_book.world_objects.count