%h1
  New log book
=form_for @log_book do |log_book_form|
  =log_book_form.hidden_field :user_id
  %label='Log Book Title'
  =log_book_form.text_field :title, :class => "span3", :placeholder => "Celentrium of Skyrim"
  %label='Game Name'
  =log_book_form.text_field :game_name, :class => "span3", :placeholder => "Skyrim"
  %br
  =log_book_form.submit 'Create', :class=>'btn btn-success'
