%span{:class=>'big-font-size color-orange'}='New log book'
%br
%br
=form_for @log_book do |log_book_form|
  =log_book_form.hidden_field :user_id
  %table
    %tr
      %td
        %table
          %tr
            %th{:class=>'serif-sc-font right'}='Log Book Title'
          %tr
            %td=log_book_form.text_field :title
          %tr
            %th{:class=>'serif-sc-font right'}='Choose Your Game'
          %tr
            %td{:class=>'right'}
              %span=collection_select :game, :name, Game.all.collect{|g| g.name}.uniq.sort, :to_s, :to_s
              %br
              %br
              %span=log_book_form.submit 'Create', :class=>'center styled-button-dark-red'
      %td
        %table
          %tr
            %td{:class=>'left'}
              -if @log_book.errors.any?
                %h2{:class=>'serif-normal-font'}='Whoa, we got some issues here:'
                %ul
                  -@log_book.errors.full_messages.each do |msg|
                    %li=msg