%br
%br
=form_for @log_book do |log_book_form|
  =log_book_form.hidden_field :user_id
  %table
    %tr
      %th{:class=>'small-caps-serif right'}='log book title'
    %tr
      %td=log_book_form.text_field :title
    %tr
      %th{:class=>'small-caps-serif right'}='choose your game'
    %tr
      %td{:class=>'right'}
        %span=collection_select :game, :name, Game.all.collect{|g| g.name}.uniq.sort, :to_s, :to_s
        %span=log_book_form.submit 'create', :class=>'center styled-button-dark-red'
