=render :partial => 'partials/nav_bar'
%table
  %tr
    %td
      =render :partial => 'partials/title/category'
    %td
      =render :partial => 'partials/filter/category'
  %tr
    %td
      =render :partial => 'partials/detail/category'
    %td
      =render :partial => 'partials/meta/category'
