=render :partial => 'partials/log_book_nav', :locals => {:log_book => @log_book}
%br
#details-div
  %table
    %tr
      %td{:class=>'border-right max-width'}=render :partial => 'partials/section_title'
      %td=render :partial => 'partials/section_filter'
    %tr
      %td{:class=>'border-right'}=render :partial => 'partials/section_detail'
      %td=render :partial => 'partials/section_meta'
