$background-image: image-url("site-background-image.jpg")

/* colors */

$color-black: #000
$color-white: #fff
$color-gray: #c0c0c0
$color-dark-blue-gray: #003039
$color-dark-green: #003910
$color-blue-gray: #007c84
$color-dark-gray: #272727
$color-dark-red: #640502
$color-very-dark-red: #300000
$color-orange: #bb4f1b

/* color styles */

.color-black
  color: $color-black
.color-white
  color: $color-white
.color-gray
  color: $color-gray
.color-blue-gray
  color: $color-blue-gray
.color-dark-gray
  color: $color-dark-gray
.color-dark-red
  color: $color-dark-red
.color-orange
  color: $color-orange

/* */

::-webkit-scrollbar
  width: 12px
 
::-webkit-scrollbar-track
  background: rgba(0,0,0,1.0)
  -webkit-box-shadow: rgba(255,0,0,1.0)
  
::-webkit-scrollbar-thumb
  background: rgba(255,255,255,0.3)
