<!DOCTYPE html>
%html
  %head
    %title='rpglogger'
    <link href='http://fonts.googleapis.com/css?family=UnifrakturCook:700|IM+Fell+French+Canon|IM+Fell+French+Canon+SC' rel='stylesheet' type='text/css'>
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %table{:class=>'min-width-920'}
      %tr
        %td
          =render :partial => 'partials/site_flash_and_shoutout'
        %td
      %tr
        %td{:class=>'top left'}
          .content-border
            .content
              =yield
        %td{:class=>'top left width-250 serif-sc-font'}
          .content-border
            #side-bar{:class=>'content'}
              -if @section || (@log_book && @log_book.title.present?)
                =render :partial => 'partials/log_book_nav', :locals=>{:log_book=>@log_book || @section.log_book}
              -else
                =render :partial => 'partials/about'
              

