<!DOCTYPE html>
%html
  %head
    %title='rpglogger'
    <link href='http://fonts.googleapis.com/css?family=UnifrakturCook:700|IM+Fell+French+Canon|IM+Fell+French+Canon+SC' rel='stylesheet' type='text/css'>
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    = csrf_meta_tags
  %body
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=180331025392280";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    %table{:class=>'min-width-920'}
      %tr
        %td
          =render :partial => 'partials/site_flash_and_shoutout'
        %td
      %tr
        %td{:class=>'top left'}
          .content-border
            .content
              =yield
        %td{:class=>'top left width-250 serif-sc-font'}
          .content-border
            #side-bar{:class=>'content'}
              -if @log_book
                =render :partial => 'partials/section_nav'
              -else
                =render :partial => 'partials/about'
              

