<!DOCTYPE html>
%html
  %head
    %title='rpglogger'
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    = csrf_meta_tags
    -# Import HTML 5 Shim code to enable HTML 5 in IE 8 and below
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    -if Rails.env.eql? "production"
      %script{type: "text/javascript"}
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-13290618-5']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
  %body
    =render :partial => 'partials/top_section_info'
    .container-fluid
      =render :partial => 'partials/site_flash_and_shoutout'
      .row-fluid
        .span3
          .well
            =render :partial => 'partials/about'
        .span9
          .well
            =yield
